<!DOCTYPE HTML>
<html>

<head>
   <link rel="stylesheet" href="styles.css">
   <script src="https://app.gazerecorder.com/GazeRecorderAPI.js"></script>
   <script src="https://app.gazerecorder.com/GazePlayer.js"></script>
   <script src="https://api.gazerecorder.com/GazeCloudAPI.js?v=1.2"></script>
   <script src="https://api.gazerecorder.com/heatmapLive.js"></script>

   <script>

      //API
      function handleFileSelect(event) {
         const file = event.target.files[0];
         const imageContainer = document.getElementById("image-container");
         const image = new Image();
         image.src = URL.createObjectURL(file);
         imageContainer.appendChild(image);
         image.style.width = 300;
         image.style.height = 300;

         const uploadButtons = document.getElementsByClassName("upload-button");
         const testButtons = document.getElementsByClassName("test-button");
         for (let i = 0; i < uploadButtons.length; i++) {
            uploadButtons[i].style.display = "none";
         }
         for (let i = 0; i < testButtons.length; i++) {
            if (i != 1) {
               testButtons[i].style.display = "block";
            }
         }
      }

      let optionVal;
      //Función para el display de los formularios de ingreso para cada formato (imagen/video)
      function handleOptionSelect(option) {
         const imageForm = document.getElementById("upload-image-form");
         const videoForm = document.getElementById("upload-video-form");
         const userName = document.getElementById("user-name");
         const inputValue = userName.value;
         if (inputValue != "") {
            if (option === "image") {
               imageForm.style.display = "block";
               videoForm.style.display = "none";
               optionVal = "image";
            } else {
               imageForm.style.display = "none";
               videoForm.style.display = "block";
               optionVal = "video";
            }
         } else {
            alert("Ingrese su nombre antes de realizar alguna prueba");
         }
      }
      //script para ingresar un video
      function uploadVideo() {
         var input = document.getElementById("video-input");
         var btn = document.getElementById("upload-video-button");
         input.style.display = "block";
         input.onchange = function () {
            var video = document.getElementById("video");
            video.src = URL.createObjectURL(input.files[0]);
            video.style.display = "block";
            document.getElementById("video-player").style.display = "block";
            video.style.width = "100%";
            video.style.height = "100%";
            btn.style.display = "none";
         };
         input.click();
         const uploadButtons = document.getElementsByClassName("upload-button");
         const testButtons = document.getElementsByClassName("test-button");
         const btnPruebaImagen = document.getElementById("pruebaImagen");
         const btnPruebaVideo = document.getElementById("pruebaVideo");
         for (let i = 0; i < uploadButtons.length; i++) {
            uploadButtons[i].style.display = "none";
         }
         for (let i = 0; i < testButtons.length; i++) {
            if (i == 2) {
               testButtons[i].style.display = "none";
            } else {
               testButtons[i].style.display = "block";
            }
         }
      }
      function playPauseVideo() {
         var video = document.getElementById("video");
         if (video.paused) {
            video.play();
         } else {
            video.pause();
         }
      }
      function pauseVideo() {
         var video = document.getElementById("video");
         if (!video.paused) {
            video.pause();
         }
      }

      //funciones para activar los botones de detener
      function setButtonsON() {
         const imageButton = document.getElementById("pruebaImagen");
         const videoButton = document.getElementById("pruebaVideo");
         if (optionVal == "image") {
            imageButton.disabled = false;
            videoButton.disabled = true;
         } else {
            imageButton.disabled = true;
            videoButton.disabled = false;
         }
      }

      //variables globales para el Gaze
      let x, y, gaze;
      //variables para cronometro
      let timer;
      let hours = 0;
      let minutes = 0;
      let seconds = 0;

      //instanciación de variables para el gaze
      function setVars(GazeData) {
         x = GazeData.docX;
         y = GazeData.docY;
         gaze = document.getElementById("gaze");
      }

      //Funciones de prueba de calibración   
      function PlotGaze(GazeData) {
         //settea los valores de tracking en tiempo real
         document.getElementById("GazeData").innerHTML = " DirMiradaX: " + GazeData.GazeX + " DirMiradaY: " + GazeData.GazeY;
         document.getElementById("HeadPhoseData").innerHTML = " Rot/Pos CabezaX: " + GazeData.HeadX + " Rot/Pos CabezaY: " + GazeData.HeadY + " Posición CabezaZ: " + GazeData.HeadZ;
         document.getElementById("HeadRotData").innerHTML = " Yaw: " + GazeData.HeadYaw + " Pitch: " + GazeData.HeadPitch + " Roll: " + GazeData.HeadRoll;

         setVars(GazeData);

         //Anchura interior del elemento
         x -= gaze.clientWidth / 2;
         //Altura interior del elemento
         y -= gaze.clientHeight / 2;
         //Setea la posición horizontal mediante la toma de la posición izquierda
         gaze.style.left = x + "px";
         //Setea la posición vertical mediante la toma de la posición superior
         gaze.style.top = y + "px";
         //Muestra o no el cursor de tracking de la mirada según las condiciones en tiempo real
         if (GazeData.state != 0) {
            if (gaze.style.display == 'block')
               gaze.style.display = 'none';
         }
         else {
            if (gaze.style.display == 'none')
               gaze.style.display = 'block';
         }
      }

      window.addEventListener("load", function () {
         GazeCloudAPI.OnCalibrationComplete = function () {
            ShowHeatMap(); resetTimer(); startTimer(); console.log('Calibracion Completa');
            if (optionVal == "video") {
               playPauseVideo();
            }
         }
         GazeCloudAPI.OnCamDenied = function () { console.log('No se puede obtener acceso a la cámara') }
         GazeCloudAPI.OnError = function (msg) { console.log('ERROR: ' + msg) }
         GazeCloudAPI.UseClickRecalibration = true;
         GazeCloudAPI.OnResult = PlotGaze;
      });

      function handleClickHeatMap(cb) {
         if (cb.checked) {
            ShowHeatMap();
            document.getElementById("gaze").style.display = 'none';
         }
         else
            RemoveHeatMap()

      }

      //Funciones de usabilidad en una web
      GazeRecorderAPI.OnNavigation = function (url) {
         document.getElementById("url").value = url;
      }

      function start(GazeData) {
         document.getElementById("inicio").style.display = 'block';
         var url = document.getElementById("urlstart").value
         GazeCloudAPI.StartEyeTracking();
         GazeCloudAPI.OnCalibrationComplete = function () {
            GazeRecorderAPI.Rec(url);
            resetTimer();
            startTimer();
         };

         setVars(GazeData);
         //Anchura interior del elemento
         x -= gaze.clientWidth / 2;
         //Altura interior del elemento
         y -= gaze.clientHeight / 2;
         //Setea la posición horizontal mediante la toma de la posición izquierda
         gaze.style.left = x + "px";
         //Setea la posición vertical mediante la toma de la posición superior
         gaze.style.top = y + "px";
         //Muestra o no el cursor de tracking de la mirada según las condiciones en tiempo real
         if (GazeData.state != 0) {
            if (gaze.style.display == 'block')
               gaze.style.display = 'none';
         }
         else {
            if (gaze.style.display == 'none')
               gaze.style.display = 'block';
         }

      }

      function Navigate() {
         var url = document.getElementById("url").value;
         GazeRecorderAPI.Navigate(url);
      }

      //CRONOMETRO
      function startTimer() {
         timer = setInterval(() => {
            seconds++;

            if (seconds === 60) {
               seconds = 0;
               minutes++;
            }

            if (minutes === 60) {
               minutes = 0;
               hours++;
            }

            document.getElementById("timer").innerHTML = `${hours}:${minutes}:${seconds}`;
         }, 1000);
      }

      function stopTimer() {
         clearInterval(timer);
      }
      function resetTimer() {
         clearInterval(timer);
         hours = 0;
         minutes = 0;
         seconds = 0;
         document.getElementById("timer").innerHTML = `${hours}:${minutes}:${seconds}`;
      }

      let time;
      function getTimer() {
         time = "El tiempo total de la prueba es: " + hours + ":" + minutes + ":" + seconds;
      }

      // Function to toggle the timer display
      function toggleTimer() {
         const timerDisplay = document.getElementById("timer-display");
         if (timerDisplay.style.display === "none") {
            timerDisplay.style.display = "block";
         } else {
            timerDisplay.style.display = "none";
         }
      }
      function generatePDF() {
         getTimer();
         html2canvas(document.body, {
            useCORS: true,
            proxy: 'https://cors-anywhere.herokuapp.com/'
         }).then(canvas => {
            let pdf = new jsPDF('p', 'mm', 'a4');
            pdf.text(50, 5, time);
            pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 50, 100, 100);
            pdf.save("resultadoTEST-Imagen.pdf");
         });
      }

      function hideOptionsPDF() {
         const testButtons = document.getElementById("test-button");
         const uploadButtons = document.getElementById("upload-options")
         const title = document.getElementById("titulo");
         const userInfo = document.getElementById("user-info");
         const videoUploaded = document.getElementById("upload-video-button");
         const videoInput = document.getElementById("video-input");
         userInfo.style.display = "none";
         videoInput.style.display = "none";
         videoUploaded.style.display = "none"
         testButtons.style.display = "none";
         title.style.display = "none";
         uploadButtons.style.display = "none";
      }

      function printPDF() {
         pauseVideo();
         const userName = document.getElementById("user-name");
         const inputValue = userName.value;
         const userTimer = document.getElementById("user-timer");
         hideOptionsPDF();
         document.getElementById("user-timer").innerHTML = `<b>${inputValue}</b>` + `<br>` + "El tiempo realizado en su prueba es: " + `${hours}:${minutes}:${seconds}`;
         userTimer.style.display = "block";
         window.print();
         location.reload();
      }
   </script>
</head>

<body>

   <!--SECCION CRONOMETRO-->
   <h1 class="titulo" id="titulo">ANALISIS DE IMAGENES PUBLICITARIAS</h1>
      <div class="cronometro" id="timer-display" style="display: none;">
         <p id="timer">0:0:0</p>
      </div>
  
   <!--SECCIÓN DE CALIBRACIÓN-->
   
      <div align='center'>
         
         <label for="ShowHeatMapId" style="display: none;">
            Mostrar mapa de calor
            <input id="ShowHeatMapId" type="checkbox" checked onclick='handleClickHeatMap(this);'>
         </label>
         <div style="display: none;">
            <p>
               Datos de parametrización en tiempo real del eye tracking:
            <p id="GazeData"> </p>
            <p id="HeadPhoseData"> </p>
            <p id="HeadRotData"> </p>
            </p>
         </div>
         <nav id="upload-options" id="upload-options">
            <a id="upload-image" onclick="handleOptionSelect('image')">Subir Imagen</a>
            <a id="upload-video" onclick="handleOptionSelect('video')">Subir Video</a>
            <div href="" id="user-info">
               <label for="">Ingrese su nombre</label>
               <input id="user-name">
               </input>
            </div>

         </nav>
         <div id="upload-video-form" style="display:none">
            <input type="file" id="video-input" accept="video/*" style="display: none;">
            <button class="upload-button" id="upload-video-button" onclick="uploadVideo()">Seleccionar un video</button>
            <div id="video-player" style="display: none;">
               <video id="video" controls></video>
            </div>
         </div>


         <form id="upload-image-form" style="display:none">
            <input type="file" class="upload-button" onchange="handleFileSelect(event)">
         </form>
         <br>
        
         <div id="slider">
            <script>
               var current = 0;
               var slides = document.getElementById("slider").getElementsByTagName("li");

               setInterval(function () {
                  for (var i = 0; i < slides.length; i++) {
                     slides[i].style.display = "none";
                  }
                  current = (current != slides.length - 1) ? current + 1 : 0;
                  slides[current].style.display = "block";
               }, 3000);</script>
            <ul>
               <li><img src="https://www.questionpro.com/blog/wp-content/uploads/2020/09/Portada-eye-tracking.jpg"></li>
               <li><img src="https://neilpatel.com/wp-content/uploads/fly-images/99010/eye-tracking-1200x675-c.jpg">
               </li>
               <li><img
                     src="https://www.eye-square.com/en/wp-content/uploads/sites/4/2015/05/BMX-product-pictures-wide_VM.jpg">
               </li>
            </ul>
         </div>
         <div class="test-button" id="test-button" style="display: none;">
            <button type="button" onclick="setButtonsON();GazeCloudAPI.StartEyeTracking();">Iniciar
               Prueba</button>
            <button type="button" id="pruebaImagen" onclick="GazeCloudAPI.StopEyeTracking();stopTimer();printPDF();"
               disabled>Detener Prueba de Imagen</button>
            <button type="button" id="pruebaVideo"
               onclick="GazeCloudAPI.StopEyeTracking();stopTimer();pauseVideo();printPDF();" disabled>Detener Prueba de
               Video</button>
         </div>
         <div>
            <p id="user-timer" style="display: none;"></p>
         </div>
         <div>
            <img src="/colores.png" style="display: none;">
         </div>
         <div id="image-container">
         </div>
         
         <div id="gaze"
            style='position: absolute;display:none;width: 100px;height: 100px;border-radius: 50%;border: solid 2px  rgba(255, 255,255, .2);	box-shadow: 0 0 100px 3px rgba(125, 125,125, .5);	pointer-events: none;	z-index: 999999'>
         </div>
      </div>
      
</body>

</html>